@import 'reset';

@mixin tab {
  @media screen and (max-width: 900px){
    @content
  }
};

@mixin sp {
  @media screen and (max-width: 599px){
    @content
  }
};

// ------------------ メディアクエリここまで

html {
  font-size: 62.5%;
}

.flex_top {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px 0;

  img {
    width: 7%;
  }
}

h1 {
  margin: 0 5px;
  text-align: center;
  font-family: 'Hiragino Kaku Gothic Pro','ヒラギノ角ゴ Pro W3','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;

  font-size: 3rem;
  @include tab() {
    font-size: 2.5rem;
  }
  @include sp() {
    font-size: 1.5rem;
  }
}

iframe {
  width: 95%;
  margin: auto;
  display: block;
}

.flex_bottom {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 10px 2.5%;

  img {
    display: block;
    width: 7%;
  }
  
  p {
    text-align: right;
    font-size: 2.5em;
    @include sp() {
      font-size: 1.2rem;
    }
  }
}


span {
  color: #0095f6;
}